body {
  background-color: #1e1e1e;
  display: grid;
  font-family: "Courier New";
}

.navigation {
  width: min-content;
  height: 100%;
  background-color: #444444;
}

.channelOverview {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.channelOverview img {
  height: 25px;
}

.channelOverview label {
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  margin: auto;
  font-size: x-large;
  font-weight: 900;
  color: white;
}

.channel {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  padding: 10px;
}

.channel img {
  height: 25px;
}

.channel label {
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  margin: auto;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
